<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="botConfig" type="GmailChatBot.Configuration.BotConfigSection, GmailChatBot" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <botConfig>
    <XMPP server="gmail.com" connectServer="talk.google.com" username="YOUR_GMAIL_USERNAME" password="" />
  </botConfig>
</configuration>